<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Start-Staff</title>
    <link rel="stylesheet" href="startPage-staff.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Koulen&family=Krona+One&display=swap" rel="stylesheet">
</head>
<body>

<div>
    <center>
        <h1>STAFF:</h1>
        <h2>EMILY ZUCHERBUK</h2>
    </center>
</div>

<div>
    <a class="button-logout" href="/view/staff/staffLoginPage/loginPage-staff.html">
        <img src="../../assets/logoutButton.svg" alt="Logout">
    </a>
</div>

<div class="button-container">
    <button class="button-editmenu">EDIT MENU</button>
    <!-- <button class="button-orderoverview">ORDER OVERVIEW / PAYMENT</button> -->
    <button class="button-orderoverview" onclick="redirectTableoverview()">ORDER OVERVIEW / PAYMENT</button>
    <button class="button-notify">NOTIFY SECURITY</button>
</div>

<div id="ordersOverview" class="ordersOverview">
    <h2>Orders Overview</h2>
    <!-- Orders will be dynamically inserted here by JavaScript -->
</div>

<script src="startPage-staff.js"></script>
</body>
</html>
