<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PAY FROM ACCOUNT</title>
    <link rel="stylesheet" href="payFromAccount.css">
</head>
<body>

<a class="payFromAccount-back-button" href="../vipStartPage/vipStartPage.html">
    <img width= "50px" src="../../assets/backButton.svg" alt="Back Button">
</a>

<header>
    <h1>PAY FROM ACCOUNT</h1>
</header>

<div>
    <center>
        <h1>YOUR BILL:</h1>
        <h2>Mr. Dylan Matthew</h2>
    </center>
</div>

<div class="payFromAccount-body">
    <div class="payFromAccount-all-orders"></div>
</div>


<div class="button-container">
    <button class="button-pay" onclick="payFromAccount()">Pay</button>
</div>

<div>
    <a class="button-logout" href="javascript:logoutFunction()">
        <img src="logout 1.svg" alt="Logout">
    </a>
</div>

<script src="payFromAccount.js" defer></script>

</body>
</html>
