<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Start</title>
        <link rel="stylesheet" href="startPage.css">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Koulen&family=Krona+One&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">
    </head>

    <body>

        <div class="start-page-header">   
            <a class="start-page-back-button" href="/menu.html">
                <img width= "50px" src="../../assets/backButton.svg" alt="Back Button">
            </a>

            <div class="start-page-table-number">
                <h2>Table No. :</h2>
                <h1>12</h1>
                <span>PERSON #1</span>
            </div>
        </div>

        <div class="start-page-buttons">
            <button class="start-page-order-button" onclick="redirectMenu()">ORDER</button>
            <button class="start-page-your-orders-button">YOUR ORDER</button>
        </div>

        <p class="start-page-order-text">*Split Bill: Each person pays themselves at the Bar. <br>
            *Group Bill: One person pays for all at the Bar.</p>

        <script src="startPage.js"></script>
    </body>
</html>