<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login-Staff</title>
    <link rel="stylesheet" href="loginPage-staff.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Koulen&family=Krona+One&display=swap" rel="stylesheet">
</head>

<body>
    <center>
        <h1>
            THE FLYING DUTCHMEN
        </h1>
        <h2>STAFF</h2>
    </center>
</div>

<div>
    <a class="button-back" href="../../homePage.html">
        <img width= "50px" src="../../assets/backButton.svg" alt="Back button">
    </a>
</div>

<div class="login">
    <center>
        <label class="text-username" for="username">Username:</label>
        <br>
        <input class="input-username" type="text" id="username" name="username">

        <br>

        <label class="text-password" for="password">Password:</label>
        <br>
        <input class="input-password" type="password" id="password" name="password">
    </center>
</div>

<div>
    <center>
        <button id="loginButton" class="button-login">LOGIN</button>
    </center>
</div>

<div id="message"></div>
<script src="../../../models/database/UserData.js"></script>
<script src="loginPage-staff.js"></script>

</body>
</html>