body {
    background-color: #F4F4F4;
}

h1{
    color: #BA0000;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: #610000;
    font-family: "Krona One";
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    position: relative;
    top:33px;
    margin-bottom: 100px;
}

button{
    width: 200px;
    height: 100px;
    flex-shrink: 0;

    border-radius: 10px;
    border: 4px solid #31220B;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

    color: #31220B;
    text-align: center;
    font-family: Koulen;
    font-size: 80px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px;

    cursor: pointer;
}

.button-row1{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    margin-left: 70px;
}

.button-table1{
    background: #FFE3E3;

    font-size: 30px;
    margin-right: 90px;
    transition: all 0.3s ease;
}


.button-table2,
.button-table3,
.button-table4{
    font-size: 30px;
    margin-right: 90px;
    transition: all 0.3s ease;
}

.button-row2{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    margin-left: 70px;
}

.button-table5,
.button-table6,
.button-table7,
.button-table8{
    font-size: 30px;
    margin-right: 90px;
    transition: all 0.3s ease;
}

.button-row3{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    margin-left: 70px;
}

.button-table9,
.button-table10,
.button-table11,
.button-table12{
    font-size: 30px;
    margin-right: 90px;
    transition: all 0.3s ease;
}

.button-row4{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    margin-left: 70px;
}

.button-table13,
.button-table14,
.button-table15,
.button-table16{
    font-size: 30px;
    margin-right: 90px;
    transition: all 0.3s ease;
}

.button-table1:hover,
.button-table2:hover,
.button-table3:hover,
.button-table4:hover,
.button-table5:hover,
.button-table6:hover,
.button-table7:hover,
.button-table8:hover,
.button-table9:hover,
.button-table10:hover,
.button-table11:hover,
.button-table12:hover,
.button-table13:hover,
.button-table14:hover,
.button-table15:hover,
.button-table16:hover{
    transform: scale(1.03);
}

.button-table1:active,
.button-table2:active,
.button-table3:active,
.button-table4:active,
.button-table5:active,
.button-table6:active,
.button-table7:active,
.button-table8:active,
.button-table9:active,
.button-table10:active,
.button-table11:active,
.button-table12:active,
.button-table13:active,
.button-table14:active,
.button-table15:active,
.button-table16:active{
    transform: scale(0.9);
}

p{
    color: #212121;
    font-family: Koulen;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    position: fixed;
    bottom:30px;
    right:75px;
}

.button-back{
    position: absolute;
    top:40px;
    left:40px;
}
