<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Table overview</title>
    <link rel="stylesheet" href="tableoverviewPage-staff.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Koulen&family=Krona+One&display=swap" rel="stylesheet">
</head>

<body>

<div>
    <center>
        <h1>
            TABLE OVERVIEW
        </h1>
    </center>
</div>

<div class="button-row1">
    <button class="button-table1" onclick="redirectorderoverviewPage()">TABLE 1</button>
    <button class="button-table2">TABLE 2</button>
    <button class="button-table3">TABLE 3</button>
    <button class="button-table4">TABLE 4</button>
</div>

<div class="button-row2">
    <button class="button-table5">TABLE 5</button>
    <button class="button-table6">TABLE 6</button>
    <button class="button-table7">TABLE 7</button>
    <button class="button-table8">TABLE 8</button>
</div>

<div class="button-row3">
    <button class="button-table9">TABLE 9</button>
    <button class="button-table10">TABLE 10</button>
    <button class="button-table11">TABLE 11</button>
    <button class="button-table12">TABLE 12</button>
</div>

<div class="button-row4">
    <button class="button-table13">TABLE 13</button>
    <button class="button-table14">TABLE 14</button>
    <button class="button-table15">TABLE 15</button>
    <button class="button-table16">TABLE 16</button>
</div>

<p>
    EMILY ZUCHERBUK
</p>

<div>
    <a class="button-back" href="/view/staff/staffStartPage/startPage-staff.html">
        <img src="../../assets/backButton.svg" alt="Back button">
    </a>
</div>
e
<script src="tableoverviewPage-staff.js"></script>
</body>
</html>