<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login-Vip</title>
    <link rel="stylesheet" href="vipLoginPage.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Koulen&family=Krona+One&display=swap" rel="stylesheet">
</head>

<body>
<div>
    <center>
    <h1>
        THE FLYING DUTCHMEN
    </h1>
        <h2>VIP CUSTOMER</h2>
    </center>
</div>

<div class="login">
    <center>
        <label class="text-username" for="username">Username:</label>
        <br>
        <input class="input-username" type="text" id="username" name="username">

        <br>

        <label class="text-password" for="password">Password:</label>
        <br>
        <input class="input-password" type="password" id="password" name="password">
    </center>
</div>

<div>
    <center>
<a href="">
    <button class="button-login">LOGIN</button>
</a>
        </center>
</div>

<div class="button-language">
    <a href="">
        <img src="Language Button.svg" alt="Change language">
    </a>
</div>

</body>
</html>