body {
    background-color: #F4F4F4;
}

h1 {
    color: #BA0000;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: #610000;
    font-family: "Krona One";
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
}

h2, td {
    color: #212121;
    font-family: "Josefin Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    margin: 0;
    white-space: nowrap;
}

h3,
.order-page-food-title h3 {
    color: #BA0000;
    font-family: Koulen;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.order-page-food-title h3 {
    margin: 0;
}

caption {
    color: #950000;
    font-family: Koulen;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    text-align: left;
}

h4, h5, h6, h7, h8, h9 {
    color: #212121;
    font-family: "Josefin Sans";
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    margin-top: 15px;
    margin-bottom: 15px;
}

.order-page-table-number span {
    color: #950000;
    font-family: Koulen;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.header-food,
.header-drinks {
    line-height: normal;
    text-decoration-line: underline;
}

.open-page-filter input {
    border: none;
    background: none;
    border-bottom: 2px solid #BA0000;
    padding: 10px 10px 5px 10px;

    color: #212121;
    font-family: "Josefin Sans";
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.open-page-filter input:focus {
    outline: none;
}

.order-page-header {
    margin: 3% 2% 0 2%;
}

.order-page-header {
    display: flex;
    justify-content: center;
}

.order-page-header-text {
    text-align: center;
    padding-left: 20px;
}

.order-page-food-drink-text {
    display: flex;
}

.order-page-food-drink-text h1 {
    margin: 0 10px 0 10px;
}

.order-page-header-text h2 {
    margin: 0;
}

.order-page-table-number {
    margin-left: auto;
    text-align: center;
}

.order-page-table-number span,
.order-page-table-number h1,
.order-page-table-number h2 {
    margin: 0;
}

.order-page-back-button {
    margin-right: auto;
}

.order-page-language-button {
    padding-bottom: 30px;
    padding-left: 20px;
}

.open-page-filter {
    display: flex;
    justify-content: space-evenly;
    margin: 1% 2% 0 2%;    
}

.open-page-filter-allergies,
.open-page-filter-alcohol,
.open-page-filter-tannin {
    display: flex;
    align-items: center;
}

.open-page-filter-allergies h2,
.open-page-filter-alcohol h2,
.open-page-filter-tannin h2 {
    margin: 0 10px 0 10px;
}

.order-page-drink-title {
    display: flex;
    align-items: flex-end;
}

.order-page-food-title {
    margin-left: 15px;
}

.order-page-drink-title h3,
.order-page-drink-title h2 {
    margin: 0;
}

.order-page-drink-title h2 {
    padding-bottom: 20px;
    margin-left: 15px;
}

.order-page-menu {
    margin: 2% 10% 2% 10%;
}

.order-page-food-menu {
    margin: 2% 10% 0 10%;
}

.minus-button {
    background-image: url('../../assets/minusButton.svg');
    background-repeat: no-repeat;
    background-size: contain;
    width: 30px; 
    height: 30px;
    border: none;
    cursor: pointer;

    margin: 0 10px 0 0;
  }

  .add-button {
    background-image: url('../../assets/addButton.svg');
    background-repeat: no-repeat;
    background-size: contain;
    width: 30px; 
    height: 30px;
    border: none;
    cursor: pointer;

    margin: 0 0 0 10px;
  }

  table {
    width: 100%; /* Ensure the table takes up the full width of its container */
  }

  tr {
    width: 100%;
    display: flex;
    margin-top: 20px;

    align-items: center;
    position: relative;

    justify-content: space-between;
  }

  td {
    display: flex;
    align-items: center;
  }

  .beer-menu,
  .wine-menu,
  .cocktail-menu,.special-menu {
    width: 80%;
    margin: 3% 10% 3% 10%;
  }

  .open-page-beer-name,
  .open-page-wine-name,
  .open-page-cocktail-name,.special-menu {
    display: flex;
    align-items: center;
  }

  .open-page-info-button {
    border: none;
  }

  .open-page-info-box {
    display: none;
    position: absolute;
    max-width: 500px;

    margin-top: 150px;
    padding: 0 10px 0 10px;

    border: 2px solid #BA0000;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    z-index: 1;

    white-space: normal;
    overflow: visible;
  }

  .open-page-button-svg {
    margin-left: 10px;
  }

  .order-page-buttons {
    display: flex;
    justify-content: flex-end;
  }

  .order-page-add-person-button,
  .order-page-confirm-button {
    color: #BA0000;
    font-family: Koulen;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    border-radius: 10px;
    border: 2px solid #BA0000;
    background: #FFF;

    padding: 0.5% 2% 0.5% 2%;
    transition: all 0.3s ease;

    margin-right: 20px;
  }

  .order-page-add-person-button:hover,
  .order-page-confirm-button:hover {
    transform: scale(1.03); 
  }

.food-menu {
    width: 80%;
    margin: 0 10% 3% 10%;
}

#food-table {
    width: 100%;
    border-collapse: collapse;
}

#food-table caption {
    font-weight: bold;
    padding: 5px;
    background-color: #f2f2f2;
}

.order-page-drink-title h2 {
    padding-bottom: 20px;
    margin-left: 15px;
}

tr {
    width: 100%;
    display: flex;
    margin-top: 20px;
    align-items: center;
    position: relative;
    justify-content: space-between;
}

td {
    display: flex;
    align-items: center;
}

.open-page-beer-name,
.open-page-wine-name,
.open-page-cocktail-name,
.open-page-food-name {
    display: flex;
    align-items: center;
}

.open-page-info-button {
    border: none;
}

.open-page-info-box {
    display: none;
    position: absolute;
    max-width: 500px;
    margin-top: 150px;
    padding: 0 10px 0 10px;
    border: 2px solid #BA0000;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    z-index: 1;
    white-space: normal;
    overflow: visible;
}

.open-page-button-svg {
    margin-left: 10px;
}

.minus-button,
.add-button {
    background-repeat: no-repeat;
    background-size: contain;
    width: 30px;
    height: 30px;
    border: none;
    cursor: pointer;
    margin: 0 5px;
}

/* CSS */
.popup-container {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
    padding: 20px;
}

.popup-content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}

.close-popup {
    position: absolute;
    top: 5px;
    right: 10px;
    cursor: pointer;
    font-size: 20px;
}




