<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Order overview</title>
    <link rel="stylesheet" href="orderoverviewPage-staff.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Koulen&family=Krona+One&display=swap" rel="stylesheet">
</head>

<body>

<div>
    <center>
        <h1>
            TABLE 1
        </h1>
    </center>
</div>

<div>
    <center>
        <h2 class="orders">
            ORDERS:
        </h2>
    </center>
</div>

<div id="order-container"></div>

<div id="order-area" ondrop="dropHandler(event)" ondragover="dragOverHandler(event)"></div>

<div>
    <button class="button-pay" id="button-pay" onclick="showPopup()">PAY</button>
    <button class="button-discount" id="button-discount" onclick="showDiscountPopup()">DISCOUNT</button>
</div>

<div id="popup" class="popup">
    <p>Selected Orders:</p>
    <ul id="selected-orders"></ul>
    <div id="order-buttons">
    <button class="button-popup" onclick="showPayPopup()">Pay</button>
    <button class="button-popup" onclick="showPayFromAccountPopup()">Pay from Account</button>
    </div>
    <button class="button-popup" onclick="closePopup()">Close</button>
</div>

<div id="discountPopup" class="discountPopup">
    <p>Selected Orders:</p>
    <ul id="selected-orders-discount"></ul>
    <button class="button-discountPopup" onclick="discountPopup()">Give Discount</button>
    <button class="button-discountPopup" onclick="closeDiscountPopup()">Close</button>
</div>

<div>
    <a class="button-back" href="view/staff/tableOverviewPage/tableoverviewPage-staff.html">
        <img src="../../assets/backButton.svg" alt="Back button">
    </a>
</div>

<script src="orderdisplay.js"></script>
<script src="dropanddrop.js"></script>
<script src="popupwindow.js"></script>

</body>
</html>