body {
    background-color: #F4F4F4;
}

h1{
    color: #BA0000;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: #610000;
    font-family: "Krona One";
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    position: relative;
    top:33px;
}

button{
    width: 214px;
    height: 68px;
    flex-shrink: 0;

    border-radius: 5px;
    border: 2px solid #BA0000;
    background: #FFF;

    color: #BA0000;
    font-family: Koulen;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    cursor: pointer;
}

.vip-nonvip{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 650px;
    position: relative;
    top: -60px;
}

.button-vip{
    width: 110px;
    height: 55px;

    font-size: 20px;
    cursor: pointer;
    margin-right: -5px;
    transition: all 0.3s ease;
}

.button-nonvip{
    width: 110px;
    height: 55px;

    font-size: 20px;
    cursor: pointer;
    margin-left: -5px;
    transition: all 0.3s ease;
}

h2{
    color: #BA0000;
    font-family: Koulen;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    margin-top: 50px;
}

.neworders{
    font-size: 40px;
    margin-top: 30px;
    margin-right: 950px;
}

.person{
    font-size: 40px;
    margin-top: 150px;
    margin-right: 1030px;
}

.button-container{
    display: flex;
    margin-top: -59px;
    margin-left: 400px;
}

.existingorders{
    font-size: 40px;
    margin-top: 150px;
    margin-right: 900px;
}

.button-1,
.button-2,
.button-3,
.button-4,
.button-5{
    width: 50px;
    height: 50px;
    font-size: 20px;
    margin-right:10px;
    transition: all 0.3s ease;
}

.button-grouppay{
    position: absolute;
    bottom:200px;
    right:70px;
    transition: all 0.3s ease;
}

.button-pay{
    position: absolute;
    bottom:110px;
    right:70px;
    transition: all 0.3s ease;
}

.button-back{
    position: absolute;
    top:40px;
    left:40px;
}

p{
    color: #212121;
    font-family: Koulen;
    font-size: 30px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;

    position: fixed;
    bottom:30px;
    right:75px;
}

.button-vip:hover,
.button-nonvip:hover,
.button-1:hover,
.button-2:hover,
.button-3:hover,
.button-4:hover,
.button-5:hover,
.button-pay:hover,
.button-grouppay:hover{
    transform: scale(1.03);
}

.button-vip:active,
.button-nonvip:active,
.button-1:active,
.button-2:active,
.button-3:active,
.button-4:active,
.button-5:active,
.button-pay:active,
.button-grouppay:active{
    transform: scale(0.9);
}
