<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Order overview</title>
    <link rel="stylesheet" href="orderoverviewPage-staff.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Koulen&family=Krona+One&display=swap" rel="stylesheet">
</head>

<body>

<div>
    <center>
        <h1>
            TABLE 1
        </h1>
    </center>
</div>

<div class="vip-nonvip">
    <button class="button-vip">VIP</button>
    <button class="button-nonvip">Non-VIP</button>
</div>

<div>
    <center>
    <h2 class="neworders">
        NEW ORDERS:
    </h2>

    <h2 class="person">
        PERSON:
        <div class="button-container">
            <button class="button-1">1</button>

            <button class="button-2">2</button>

            <button class="button-3">3</button>

            <button class="button-4">4</button>

            <button class="button-5">5</button>
        </div>
    </h2>

    <h2 class="existingorders">
        EXISTING ORDERS:
    </h2>
    </center>
</div>

<div>
    <button class="button-grouppay">GROUP PAY</button>
    <button class="button-pay">PAY</button>
</div>

<p>
    EMILY ZUCHERBUK
</p>

<div>
    <a class="button-back" href="view/staff/tableOverviewPage/tableoverviewPage-staff.html">
        <img src="../../assets/backButton.svg" alt="Back button">
    </a>
</div>

</body>
</html>