<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Start-Vip</title>
        <link rel="stylesheet" href="vipStartPage.css">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Koulen&family=Krona+One&display=swap" rel="stylesheet">
    </head>

    <body>

        <div class="start-page-header">
            <a class="start-page-vip-logout-button" href="/view/vip/vipLoginPage/vipLoginPage.html">
                <img width= "50px" src="../../assets/logoutButton.svg" alt="Logout Button">
            </a>

            <div class="start-page-name">
                <h1>WELCOME BACK</h1>
                <h3 id="start-page-user-name"></h3>
            </div>

            <div class="start-page-vip-table-number">
                <h2>Table No. :</h2>
                <h1>14</h1>
            </div>
        </div>

        <div class="start-page-top-button-container">
            <div class="start-page-first-buttons">
                <button onclick="redirectMenu()" class="start-page-menu-button">MENU</button>
                <button class="start-page-special-button">SPECIAL <br> ORDER</button>
            </div>

            <button class="start-page-your-order-button">YOUR ORDERS</button>
        </div>

        <div class="start-page-bottom-button-container">
            <div class="start-page-second-buttons">
                <div class="start-page-balance">YOUR BALANCE</div>
                <button class="start-page-amount-button">14,000 KR</button>
            </div>

            <button class="start-page-pay-acc-button">PAY FROM ACC</button>
        </div>


    <script src="../vipStartPage/vipStartPage.js"></script>
    
    </body>
</html>