<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Home</title>
        <link rel="stylesheet" href="homePage.css">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Koulen&family=Krona+One&display=swap" rel="stylesheet">
    </head>

    <body>
        <div class="home-page-container">
            <h1>THE FLYING DUTCHMEN</h1>

            <button onclick="redirectStart()" class="home-page-cus-button">CUSTOMER</button>
            <button class="home-page-vip-button">VIP CUSTOMER</button>
            <button class="home-page-staff-button">STAFF</button>
        </div>

        <img class="home-page-language-button" src="../../view/assets/languageButton.svg" alt="Language Button">

        <script src="homePage.js"></script>
    </body>
</html>