<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login-Vip</title>
    <link rel="stylesheet" href="loginPage-staff.css">
</head>

<body>
<div>
    <center>
        <h1>
            THE FLYING DUTCHMEN
        </h1>
        <h2>STAFF</h2>
    </center>
</div>

<div class="login">
    <center>
        <label class="text-username" for="username">Username:</label>
        <br>
        <input class="input-username" type="text" id="username" name="username">

        <br>

        <label class="text-password" for="password">Password:</label>
        <br>
        <input class="input-password" type="password" id="password" name="password">
    </center>
</div>

<div>
    <center>
        <button id="loginButton" class="button-login">LOGIN</button>
    </center>
</div>
<script src="loginPage-staff.js"></script>

</body>
</html>