<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="checkPage.css">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Koulen&family=Krona+One&display=swap" rel="stylesheet">
    </head>

    <body>

        <div class="check-page-body">
            <a class="check-page-back-button" href="../orderPage/orderPage.html">
                <img width= "50px" src="../../assets/backButton.svg" alt="Back Button">
            </a>

            <div class="check-page-all-orders"></div>
        </div>

        <div class="check-page-buttons">
            <button class="check-page-confirm-button" onclick="redirectHome()">CONFIRM</button>
            <h3>Send my order!</h3>
        </div>

        <script src="checkPage.js"></script>
    </body>
</html>
